[Unit]
Description=Collect images from cameras

[Service]
Type=simple
NotifyAccess=all
ExecStart=python3 image_collector.py
WorkingDirectory=/sparup_site/temperature_monitor
User=data_acquisition

[Install]
WantedBy=multi-user.target
