{% extends "base.html" %}
{% load static %}
{% block title %}
S. Pårup: Kamerabilder
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "dtsel/dtsel.css" %}"/>
{% endblock %}

{% block content %}
<h1>Kamerabilder</h1>
<b>Kamera:</b>
<select class="form-control">
	{% for camera in cameras %}
	<option>{{camera.name}}</option>
	{% endfor %}
</select>
<b>Tidstämpel:</b>
<input type="text" name="date_field" value="{{now}}">
{% endblock %}

{% block end_script %}
<script type="text/javascript" src="{% static "dtsel/dtsel.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	instance = new dtsel.DTS('input[name="date_field"]',  {
    direction: 'BOTTOM',
    dateFormat: "yyyy-mm-dd",
    showTime: true,
    timeFormat: "HH:MM:SS"
});
	});
</script>
{% endblock %}
